/* .banner-area.bg-top {
    padding-bottom: 120px;
    margin-bottom: 0px;
    display: none;
} */
@font-face {
    font-family: star;
    src: url(font/3y9H6as8bTXq_nANBjzKo3IeZx8z6up5BeSl5jBNz_19PpbpMXuECpwUxJBOm_OJWiawA1Xp\ \(1\).ttf);
}
 html,body{
	background-color: #FFF9FF;
}
.ot-heading__title{
    font-family: star;
    text-transform: capitalize;
}
.ot-icon-box__content .icon-box-title {
    display: block;
    color: #223354;
    word-break: normal;
    font-size: 17px;
    margin-bottom: 12px;
    line-height: 30px;
    font-weight: 500;
}
.icon-box-des{
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        text-align: left;
}
.icon-box-des  h2{
    margin-bottom: 0;
}
.ot-icon-box h2{
    font-size: 23px;
    text-align: left;
}
.ot-icon-box h5{
    text-align: left;
}
.ot-icon-box{
    position: relative;
}
.btn.circle {
    position: absolute;
    bottom: -70px;
    left: 33%;
    color: white;
}
.btn.circle::after{
    content: "";
    width: 100%;
    height: 100%;
    bottom: -100%;
    background-color: #223354;
    color: #FFF;
    left: 1px;
}
.red{
    color: red;
}
.elementor-section h1{
    padding:0 0 5px 77px;
}
.section-top{
    margin-top: 30px;
 
}
.box1 i,.box2 i,.box3 i{
    font-weight: 700;
    margin-right: 5px;
}
