.elementor-element.elementor-element-613ae19{padding:100px 0px 30px 0px;}.elementor-element.elementor-element-9470f7a > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-element.elementor-element-20e991a{text-align:center;}.elementor-element.elementor-element-20e991a > .elementor-widget-container{margin:50px 0px 50px 0px;padding:0px 15px 0px 15px;}.elementor-element.elementor-element-256196a > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-fc3f3b9 .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-fc3f3b9 .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-fc3f3b9 > .elementor-widget-container{margin:0px 0px 30px 0px;border-radius: 10px; border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-fc3f3b9:hover .elementor-widget-container{background-color:#FFF9FF;border-bottom: 3px solid #B59F84; transform: translateY(-7px);box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-77fd76c .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-77fd76c .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-77fd76c > .elementor-widget-container{margin:0px 0px 30px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-77fd76c:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-baf2f1e .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-baf2f1e .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-baf2f1e > .elementor-widget-container{margin:0px 0px 30px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-baf2f1e:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-f45b75f .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-f45b75f .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-f45b75f > .elementor-widget-container{margin:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-f45b75f:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-2b6b13f > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-98fad89 .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-98fad89 .ot-icon-box{padding:30px 20px 20px 20px;text-align:center;min-height: 400px;}.elementor-element.elementor-element-98fad89 > .elementor-widget-container{margin:0px 0px 30px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px; background-color: #FFF;}.elementor-element.elementor-element-98fad89:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-3140896 .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-3140896 .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-3140896 > .elementor-widget-container{margin:0px 0px 30px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-3140896:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-70d1c0f .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-70d1c0f .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-70d1c0f > .elementor-widget-container{margin:0px 0px 30px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-70d1c0f:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-7220ec5 .ot-icon-box__icon{font-size:48px;}.elementor-element.elementor-element-7220ec5 .ot-icon-box{padding:40px 30px 30px 30px;text-align:left;}.elementor-element.elementor-element-7220ec5 > .elementor-widget-container{margin:0px 0px 0px 0px;border-style:solid;border-width:1px 1px 1px 1px;border-color:#D1E0E5;border-radius:10px 10px 10px 10px;}.elementor-element.elementor-element-7220ec5:hover .elementor-widget-container{background-color:#FFF9FF;border-style:solid;border-width:1px 1px 1px 1px;border-color:#02010100;box-shadow:3px 3px 10px 0px rgba(55, 55, 55, 0.07);}.elementor-element.elementor-element-85d4656:not(.elementor-motion-effects-element-type-background), .elementor-element.elementor-element-85d4656 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:url("../../../../hiyamee.com/wp-content/uploads/2021/04/bg-service-v2.png");background-repeat:no-repeat;}.elementor-element.elementor-element-85d4656{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:100px 0px 0px 0px;}.elementor-element.elementor-element-85d4656 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-element.elementor-element-e12c31a > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-element.elementor-element-0b87cde > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-8e0c812 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-2fbcda8 figure.ot-image-box__img{margin-bottom:35px;}.elementor-element.elementor-element-2fbcda8 .ot-image-box{text-align:left;}.elementor-element.elementor-element-0e4116b > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-fdde63d figure.ot-image-box__img{margin-bottom:35px;}.elementor-element.elementor-element-fdde63d .ot-image-box{text-align:left;}.elementor-element.elementor-element-4a4f21b{padding:100px 0px 0px 0px;}.elementor-element.elementor-element-939a1fc > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-ba7d09a > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-98ac2e6 > .elementor-element-populated{padding:0px 15px 0px 15px;}.elementor-element.elementor-element-3b27f9c > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-0469bef > .elementor-widget-container{margin:0px 0px 20px 0px;padding:0px 0px 0px 0px;}.elementor-element.elementor-element-e3c5248.elementor-view-stacked .elementor-icon{background-color:#61CE701A;fill:var( --e-global-color-accent );color:var( --e-global-color-accent );}.elementor-element.elementor-element-e3c5248.elementor-view-framed .elementor-icon, .elementor-element.elementor-element-e3c5248.elementor-view-default .elementor-icon{fill:#61CE701A;color:#61CE701A;border-color:#61CE701A;}.elementor-element.elementor-element-e3c5248.elementor-view-framed .elementor-icon{background-color:var( --e-global-color-accent );}.elementor-element.elementor-element-e3c5248{--icon-box-icon-margin:15px;}.elementor-element.elementor-element-e3c5248 .elementor-icon{font-size:12px;}.elementor-element.elementor-element-e3c5248 .elementor-icon-box-title{margin-bottom:0px;}.elementor-element.elementor-element-e3c5248 .elementor-icon-box-description{font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;line-height:36px;}.elementor-element.elementor-element-26ff401.elementor-view-stacked .elementor-icon{background-color:#61CE701A;fill:var( --e-global-color-accent );color:var( --e-global-color-accent );}.elementor-element.elementor-element-26ff401.elementor-view-framed .elementor-icon, .elementor-element.elementor-element-26ff401.elementor-view-default .elementor-icon{fill:#61CE701A;color:#61CE701A;border-color:#61CE701A;}.elementor-element.elementor-element-26ff401.elementor-view-framed .elementor-icon{background-color:var( --e-global-color-accent );}.elementor-element.elementor-element-26ff401{--icon-box-icon-margin:15px;}.elementor-element.elementor-element-26ff401 .elementor-icon{font-size:12px;}.elementor-element.elementor-element-26ff401 .elementor-icon-box-title{margin-bottom:0px;}.elementor-element.elementor-element-26ff401 .elementor-icon-box-description{font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:400;line-height:36px;}.elementor-element.elementor-element-c9e1b0b .elementor-button .elementor-align-icon-right{margin-left:10px;}.elementor-element.elementor-element-c9e1b0b .elementor-button .elementor-align-icon-left{margin-right:10px;}.elementor-element.elementor-element-c9e1b0b .elementor-button{font-family:"DM Sans", Sans-serif;font-size:16px;font-weight:500;fill:#FF6B52;color:#FF6B52;background-color:#FFFFFF00;padding:0px 0px 0px 0px;}.elementor-element.elementor-element-c9e1b0b .elementor-button:hover, .elementor-element.elementor-element-c9e1b0b .elementor-button:focus{color:#223354;}.elementor-element.elementor-element-c9e1b0b .elementor-button:hover svg, .elementor-element.elementor-element-c9e1b0b .elementor-button:focus svg{fill:#223354;}.elementor-element.elementor-element-c9e1b0b > .elementor-widget-container{margin:40px 0px 0px 0px;}.elementor-element.elementor-element-a59dae7 .owl-stage{display:flex;align-items:center;}.elementor-element.elementor-element-a59dae7 .ot-client-logo-slider span{padding:0px 23px 0px 28px;}.elementor-element.elementor-element-a59dae7 .ot-client-logo-slider .owl-item svg{fill:#696871;}.elementor-element.elementor-element-a59dae7 .ot-client-logo-slider .client-logo img{filter:brightness( 100% ) contrast( 0% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-element.elementor-element-a59dae7 .client_link .client-hover-logo svg{fill:#FF6B52;}.elementor-element.elementor-element-a59dae7 .ot-client-logo-slider .client-hover-logo img{filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-element.elementor-element-a59dae7 > .elementor-widget-container{padding:100px 15px 100px 15px;}@media(max-width:1024px){.elementor-element.elementor-element-a0d13e7 > .elementor-widget-container{margin:0px 0px 40px 0px;}}@media(min-width:768px){.elementor-element.elementor-element-0b87cde{width:41.67%;}.elementor-element.elementor-element-8e0c812{width:29%;}.elementor-element.elementor-element-0e4116b{width:28.994%;}.elementor-element.elementor-element-939a1fc{width:50%;}.elementor-element.elementor-element-ba7d09a{width:7.994%;}.elementor-element.elementor-element-98ac2e6{width:41.67%;}}@media(max-width:1024px) and (min-width:768px){.elementor-element.elementor-element-939a1fc{width:100%;}.elementor-element.elementor-element-ba7d09a{width:100%;}.elementor-element.elementor-element-98ac2e6{width:100%;}}@media(max-width:767px){.elementor-element.elementor-element-613ae19{padding:60px 0px 60px 0px;}.elementor-element.elementor-element-f45b75f > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-element.elementor-element-85d4656{padding:60px 0px 0px 0px;}.elementor-element.elementor-element-f8969ef > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-element.elementor-element-2fbcda8 > .elementor-widget-container{margin:0px 0px 30px 0px;}.elementor-element.elementor-element-4a4f21b{padding:60px 0px 0px 0px;}.elementor-element.elementor-element-a0d13e7 > .elementor-widget-container{margin:0px 0px 40px 0px;}.elementor-element.elementor-element-e3c5248 .elementor-icon-box-wrapper{text-align:left;}.elementor-element.elementor-element-e3c5248{--icon-box-icon-margin:0px;}.elementor-element.elementor-element-e3c5248 > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-element.elementor-element-26ff401 .elementor-icon-box-wrapper{text-align:left;}.elementor-element.elementor-element-26ff401{--icon-box-icon-margin:0px;}.elementor-element.elementor-element-a59dae7 .ot-client-logo-slider span{padding:0px 0px 0px 0px;}.elementor-element.elementor-element-a59dae7 > .elementor-widget-container{padding:40px 15px 40px 15px;}}

.ot-icon-box__content .icon-box-title {
    display: block;
    color: #223354;
    word-break: normal;
    font-size: 24px;
    margin-bottom: 12px;
    line-height: 30px;
    font-weight: 500;
}
.elementor-element.elementor-element-fc3f3b9 .ot-icon-box__icon {
    font-size: 48px;
}
@media (min-width: 768px){
.ot-position-left .ot-icon-box__icon {
    margin-right: 28px;
}
}
@media (min-width: 768px){
.ot-position-left .ot-icon-box__icon, .ot-position-right .ot-icon-box__icon {
    margin-bottom: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
}
.ot-icon-box__icon {
    line-height: 1;
    display: inline-block;
    margin-bottom: 16px;
    font-size: 36px;
    text-align: center;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}
.ot-icon-box__icon svg {
    display: block;
    width: 1em;
    height: 1em;
    fill: #1080d0;
    transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
}
svg:not(:root) {
    overflow: hidden;
}
.ot-icon-box__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.elementor-element.elementor-element-fc3f3b9 .ot-icon-box {
    padding: 30px 20px 20px 20px;
    text-align: center;
    min-height: 400px;
}
@media (min-width: 768px){
.ot-vertical-align-top .ot-icon-box {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
}
@media (min-width: 768px){
.ot-position-left .ot-icon-box {
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
}



.ssub-yes .ot-heading__sub {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.ot-heading__sub {
    color: #ff6b52;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 12px;
}
@media (max-width:550px) {
    .ot-heading__sub {
       font-size: 17px;
    }
}
.ssub-yes .ot-heading__sub:before {
    left: 0;
}
.ssub-yes .ot-heading__sub:before, .ssub-yes .ot-heading__sub:after {
    position: absolute;
    content: "/";
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.ssub-yes .ot-heading__sub:after {
    right: 0;
}
.ssub-yes .ot-heading__sub:before, .ssub-yes .ot-heading__sub:after {
    position: absolute;
    content: "/";
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}





.style_container_wrapper__1FRTz {
    display: -moz-box;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 6rem;
}

@media (min-width: 992px){
.style_f-50__2qs7t {
    align-self: auto;
}
}
@media (min-width: 700px){
.style_f-50__2qs7t {
    align-self: center;
}
}
.style_f-50__2qs7t {
    -moz-box-flex: 50%;
    flex: 50% 1;
}
.style_order_B__3wx9n {
    -moz-box-ordinal-group: 3;
    order: 2;
    position: relative;
    text-align: center;
}


.style_container_wrapper__1FRTz>.style_content_area__2qfw- {
    text-align: left;
    position: relative;
}
@media (min-width: 992px){
.style_f-50__2qs7t {
    align-self: auto;
}
}
@media (min-width: 700px){
.style_f-50__2qs7t {
    align-self: center;
}
}
.style_f-50__2qs7t {
    -moz-box-flex: 50%;
    flex: 50% 1;
}
.style_order_A__2kasL {
    -moz-box-ordinal-group: 2;
    order: 1;
    position: relative;
}

.style_container_wrapper__1FRTz p span {
    color: #333;
    margin-bottom: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
}
.magenta {
    color: #dd2f72;
}

.style_bottom__2ZzMr {
    font-size: 1.125rem;
    font-weight: 500;
}
.bg-magenta {
    background-color: #dd2f72;
}
.text-white {
    color: #fff!important;
}
.style_container_wrapper__1FRTz .style_list__Oq-Hn li:before {
    margin-top: 0.3125rem;
    position: absolute;
    left: 0;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 0.5rem solid transparent;
    border-top: 0.5rem solid transparent;
}
.b-magenta:before {
    border-left: 0.9375rem solid #dd2f72;
}
.style_container_wrapper__1FRTz .style_list__Oq-Hn {
    list-style: none;
}
.style_bottom__2ZzMr {
    font-size: 1.125rem;
    font-weight: 500;
}

button {
    font-family: Montserrat,sans-serif;
    font-size: 14px;
    font-weight: 800;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border: 0;
    padding: 0.8rem 2rem;
    background-color: var(--white);
    line-height: 1.25rem;
    white-space: nowrap;
}
.style_container_wrapper__1FRTz p {
    font-family: montserrat-semibold;
    font-weight: 600;
    margin-bottom: 1rem;
}

.green {
    color: #2bbfb8;
}
.purple {
    color: #8e47bb;
}
.orange {
    color: #ff841f;
}
.blue {
    color: #2572ce;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}


.b-magenta:before {
    border-left: .9375rem solid #dd2f72
}

.b-green:before {
    border-left: .9375rem solid #2bbfb8
}

.b-orange:before {
    border-left: .9375rem solid #ff841f
}

.b-blue:before {
    border-left: .9375rem solid #2572ce
}

.b-black:before {
    border-left: .9375rem solid var(--black)
}

.b-purple:before {
    border-left: .9375rem solid #8e47bb
}

.b-dark-purple:before {
    border-left: .9375rem solid var(--purple)
}

.bg-flowers {
    background-color: #ffddea
}

.bg-lighter-blue {
    background-color: #f8f6ff
}

.bg-night-purple {
    background-color: #e8daf1
}

.bg-rossy {
    background-color: #ffeff5
}

.bg-fruity {
    background-color: #ffead8
}

.bg-romantic {
    background-color: #ffdabc
}

.bg-azure {
    background-color: #f2fbfb
}

.bg-magenta {
    background-color: #dd2f72
}

.bg-orange {
    background-color: #ff841f
}

.bg-green {
    background-color: #2bbfb8
}

.bg-blue {
    background-color: #2572ce
}

.bg-light-blue {
    background-color: #f0ecff
}

.bg-sky-blue {
    background-color: #ccdef8
}

.bg-darker-blue {
    background-color: #3d6cad
}

.bg-purple {
    background-color: #8e47bb
}

.bg-dark-purple {
    background-color: var(--purple)
}

.orange {
    color: #ff841f
}

.green {
    color: #2bbfb8
}

.blue {
    color: #2572ce
}

.black {
    color: var(--black)
}

.purple {
    color: #8e47bb
}

.dark-purple {
    color: var(--purple)
}

.magenta {
    color: #dd2f72
}

.darker-blue {
    color: #3d6cad
}

.bg-oysterBay {
    background: #d7f3f2
}

.bg-thin-purple {
    background: #f0ecff
}

.bg-pink {
    padding-bottom: 160px;
    background: #ffeff5
}

.bg-blue-sky {
    padding-bottom: 160px;
    background: #e8f2ff
}

.bg-blue-water {
    padding-bottom: 120px;
    background: #dafbf9
}

.bg-white-orange {
    padding-bottom: 160px;
    background: #fff4eb
}

.bg-dark-blue {
    background: #edeafc;
    padding-bottom: 90px
}

.bg-dark-pink {
    background: #ffddea;
    padding-bottom: 150px
}

.bg-dark-blue-sky {
    background: #d4e7ff;
    padding-bottom: 150px
}

.bg-dark-blue-water {
    background: #c8f8f6;
    padding-bottom: 150px
}

.bg-thin-orange {
    background: #ffe9d6;
    padding-bottom: 150px
}

.bg-greyscale-70 {
    background: #f4f6f8
}
.ot-icon-box__icon1 {
    min-height: 140px;
}

span.style_container_desc__1SLxU {
    font-weight: 600;
}
img.style_main_image__EJUXe {
    max-width: 500px;
}
@media (max-width: 768px) {
    img.style_main_image__EJUXe {
        max-width: 290px;
    }
    .sml{
        width: 220px;
    }
}
	

.elementor-42 .elementor-element.elementor-element-fb951ab img {
    width: 100%;
    box-shadow:none;
    margin-top: 50px;
}